<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <title>Stock chart app </title>
</head>

<body>
    <h1>Stock chart app - FCC Project</h1>

    <div id="stock-chart"></div>

    <input type="text" id="add-stock-input" />
    <button id="add-stock-button" disabled>Add stock</button>
    <ul id="stock-list"></ul>
    <script src="/chart"></script>
    <script src="/js/DOMmanipulation.js"></script>
    <script src="/js/ZingChartLogic.js"></script>


</body>

</html>